.play {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-end;
  background: url("../images/play-bg.png") no-repeat;
  background-size: cover;

  .main {
    height: 100%;
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;

    .countdown {
      font-size: 10rem;
      margin-top: 5rem;
      color: $white;
    }
    .questions {
      width: 100%;
      height: 40rem;
      position: absolute;
      bottom: 0;
      padding: 1rem 2rem;
      color: $white;
      .question {
        width: 100%;
        font-size: 2rem;
        background: $midnight-blue-dark;
        min-height: 12rem;
        padding: 1rem 5rem;
        @include question-box;
      }
      .answers {
        height: 25rem;
        display: flex;
        justify-content: center;
        .answer {
          width: 50rem;
          height: 11rem;
          background: $midnight-blue-transient;
          margin: 1rem 0;
          @include answer-box;
          font-size: 3rem;
          @include center;
          padding: 0 4rem;
          position: relative;
          &:hover {
            background: $midnight-blue;
            transition: 0.2s ease-in-out;
            cursor: pointer;
          }
          & > :first-child {
              position: absolute;
              left: 3rem;
              font-size: 4rem;
              color: $warning;
          }
        }
      }
    }
  }
  .level-list {
    height: 100%;
    width: 38rem;
    background: $midnight-blue;
    border-left: 0.2rem solid $white;

    &-item {
      padding: 1rem;
      font-size: 3rem;
      color: $white;
      height: 4.8rem;
      padding-left: 4rem;
      .item-id {
          display: inline-block;
          width: 8rem;
      }
    }
  }
}
