@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  border-radius: 4px;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #003366;
  width: 100vw;
  position: relative;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

.question-btns > a {
  margin: 2rem 0;
}

.add-question {
  width: 30%;
  display: none;
}

.add-question-header {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.add-question label {
  display: block;
  font-size: 2rem;
  color: #fff;
  margin: 1rem 0;
}

.add-question input, .add-question textarea {
  width: 100%;
  padding: 0 1rem;
}

.add-question input {
  height: 4rem;
}

.play {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url("../images/play-bg.png") no-repeat;
  background-size: cover;
}

.play .main {
  height: 100%;
  width: 70%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.play .main .countdown {
  font-size: 10rem;
  margin-top: 5rem;
  color: #fff;
}

.play .main .questions {
  width: 100%;
  height: 40rem;
  position: absolute;
  bottom: 0;
  padding: 1rem 2rem;
  color: #fff;
}

.play .main .questions .question {
  width: 100%;
  font-size: 2rem;
  background: #1060b1f8;
  min-height: 12rem;
  padding: 1rem 5rem;
  -webkit-clip-path: polygon(0 50%, 5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0 50%);
          clip-path: polygon(0 50%, 5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0 50%);
}

.play .main .questions .answers {
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.play .main .questions .answers .answer {
  width: 50rem;
  height: 11rem;
  background: #1060b1d2;
  margin: 1rem 0;
  -webkit-clip-path: polygon(0 50%, 10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
          clip-path: polygon(0 50%, 10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
  position: relative;
}

.play .main .questions .answers .answer:hover {
  background: #003366;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.play .main .questions .answers .answer > :first-child {
  position: absolute;
  left: 3rem;
  font-size: 4rem;
  color: #FFC107;
}

.play .level-list {
  height: 100%;
  width: 38rem;
  background: #003366;
  border-left: 0.2rem solid #fff;
}

.play .level-list-item {
  padding: 1rem;
  font-size: 3rem;
  color: #fff;
  height: 4.8rem;
  padding-left: 4rem;
}

.play .level-list-item:first-of-type {
  background: rgba(255, 255, 81, 0.562);
}

.play .level-list-item .item-id {
  display: inline-block;
  width: 8rem;
}

.btn {
  width: 25rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
  font-size: 2rem;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background: #0275d8;
}

.btn-primary:hover {
  background: #0069D9;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn-success {
  background: #5cb85c;
}

.btn-success:hover {
  background: #438843;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn-warning {
  background: #FFC107;
}

.btn-warning:hover {
  background: #E0A800;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn-info {
  background: #5bc0de;
}

.btn-info:hover {
  background: #138496;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn-danger {
  background: #d9534f;
}

.btn-danger:hover {
  background: #C9302C;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn-block {
  width: 100%;
}

.btn-add-question {
  border: none;
  height: 5rem;
  margin: 1rem 0;
}

.fa-arrow-left, .fa-home {
  color: #fff;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
